vendor
.vscode*
API.md
_dev

# Icons Local Dev
00FA

screenshots/
# styles/
scss/
scripts-unminify

config.php
congig.js

Demo
demo-stylesheet.css
demo-script.js
demo-cookies.cookies
demo-loader.html
