/* ROOT VARIABLES */
:root {
  --hsl-color-bg: 240, 29%, 17%;
  --hsl-color-bg-variant: 240, 42%, 30%;
  --hsl-color-primary: 205, 100%, 65%;
  --hsl-clr-warning: 29, 100%, 67%;
  --hsl-clr-primary: 257, 80%, 40%;
  --hsl-clr-danger: 334, 100%, 67%;
  --hsl-clr-success: 160, 86%, 60%;
  --hsl-clr-pink: 350, 100%, 94%;
  --hsl-clr-bg: 231, 15%, 25%;
  --hsl-clr-bg-l: 231, 15%, 28%;
  --hsl-clr-white: 0, 0%, 100%;
  --hsl-clr-white-l: 240, 20%, 97%;
  --hsl-clr-dark: 231, 15%, 25%;
  --hsl-clr-light: 0, 0%, 100%;
  --hsl-clr-text-muted: 213, 16%, 56%;
  --color-bg: hsl(var(--hsl-color-bg));
  --color-bg-variant: hsl(var(--hsl-color-bg-variant));
  --color-primary: hsl(var(--hsl-color-primary));
  --clr-warning: hsl(var(--hsl-clr-warning));
  --clr-primary: hsl(var(--hsl-clr-primary));
  --clr-danger: hsl(var(--hsl-clr-danger));
  --clr-success: hsl(var(--hsl-clr-success));
  --clr-pink: hsl(var(--hsl-clr-pink));
  --clr-brown: #351c15;
  --clr-bg: hsl(var(--hsl-clr-bg));
  --clr-bg-l: hsl(var(--hsl-clr-bg-l));
  --clr-white: hsl(var(--hsl-clr-white));
  --clr-white-l: hsl(var(--hsl-clr-white-l));
  --clr-dark: hsl(var(--hsl-clr-dark));
  --clr-light: hsl(var(--hsl-clr-light));
  --clr-text-muted: hsl(var(--hsl-clr-text-muted));
  --gradient-text: linear-gradient(
    89.98deg,
    var(--clr-warning) 6.84%,
    var(--clr-success) 20%
  );
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.84%, #ff8a71);
  --fs-h1: 35px;
  --fs-h2: 25px;
  --fs-h3: 18px;
  --border-light: 2px solid hsla(var(--hsl-clr-bg), 0.3);
  --transition: all 350ms ease;
  --bs: 0.25em 0.25em 0.75em hsla(0, 0%, 0%, 0.25),
    0.125em 0.125em 0.25em hsla(0, 0%, 0%, 0.15);
  --bs-2: 0 0 0.75em hsla(0, 0%, 0%, 0.25), 0 0 0.25em hsla(0, 0%, 0%, 0.15);
  --bs-pri: 0.25em 0.25em 1.5em hsla(0, 0%, 0%, 0.3),
    0em 0em 0.5em hsla(0, 0%, 0%, 0.35);
  --bs-sec: 0.3rem 0.1rem 2rem hsla(0, 0%, 0%, 0.3);
}

/*
  dark mode box shadow
*/
[data-app-theme=dark] {
  --hsl-clr-bg: 0, 0%, 100%;
  --hsl-clr-bg-l: 240, 20%, 97%;
  --hsl-clr-white: 231, 15%, 25%;
  --hsl-clr-white-l: 231, 15%, 28%;
  --clr-bg: hsl(var(--hsl-clr-bg));
  --clr-white: hsl(var(--hsl-clr-white));
  --clr-bg-l: hsl(var(--hsl-clr-bg-l));
  --clr-white-l: hsl(var(--hsl-clr-white-l));
  --bs: 0.25em 0.25em 0.75em hsla(0, 0%, 0%, 0.25),
    0.125em 0.125em 0.25em hsla(0, 0%, 0%, 0.15);
  --bs-2: 0 0 0.75em hsla(0, 0%, 0%, 0.25), 0 0 0.25em hsla(0, 0%, 0%, 0.15);
  --bs-pri: 0.25em 0.25em 1.5em hsla(0, 0%, 0%, 0.3),
    0em 0em 0.5em hsla(0, 0%, 0%, 0.35);
  --bs-sec: 0.5rem 0.1rem 2rem hsl(0deg 0% 76.22% / 14%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: var(--fs-reg);
  scroll-behavior: smooth;
  line-height: 1.3;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white-l);
  color: var(--clr-bg);
  overflow-x: hidden;
  font-size: 1rem;
}

.container-x {
  width: 95%;
  max-width: 1024px;
  margin: auto;
}

/*  Form items */
.input:active,
.input:focus,
input:active,
select:active,
textarea:active,
input:focus,
select:focus,
textarea:focus {
  /* box-shadow: 0 0 10px var(--clr-success); */
  border-color: var(--clr-warning);
  /* border-color: inherit; */
}

.input,
input,
select,
textarea {
  border: 2px solid var(--clr-bg);
  /* border: 0.15em solid var(--clr-pri); */
  background-color: transparent;
  width: 100%;
  border-radius: 0.3em;
  /* border-radius: 10px; */
  padding: 0.7em 1em;
  /* padding: 10px 1rem; */
  font-size: 1rem;
  /* font-size: 1em; */
  font: inherit;
  color: var(--clr-bg);
}

li {
  display: block;
  list-style: none;
}

textarea {
  resize: none;
  min-height: 80px;
}

input[type=radio],
input[type=checkbox] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 10px;
}

select {
  background-color: var(--clr-white);
}

button {
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

a {
  color: var(--clr-primary);
  display: inline-block;
}

a:hover {
  color: var(--clr-success);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

img {
  max-width: 100%;
  max-height: 100%;
}

h2,
h3 {
  line-height: 1.2;
  margin: 0;
}

/* h1 {margin: 0;} */
h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.btnB {
  border: 2px solid transparent;
  padding: 6px;
  display: inherit;
}
.btnB:active, .btnB:hover {
  border: 2px solid var(--clr-bg);
}

.btn {
  padding: 5px 1rem;
  border-radius: 1rem;
  font-weight: lighter;
  font-size: 0.9rem;
  cursor: pointer;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  border: 1px solid transparent;
  line-height: 1.3;
  font-size: 0.98rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn.active {
  background-color: var(--clr-bg);
  border-color: var(--clr-bg);
  color: var(--clr-white);
}

.padd {
  padding: 5px;
  display: inherit;
}

/* d: default, p: primary, s: secondary */
.bbtn {
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--clr-bg);
}
.bbtn:hover {
  opacity: 0.8;
}
.bbtn.primary {
  border-color: var(--clr-bg);
}
.bbtn.secondary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
.bbtn.small {
  padding: 5px 0.5rem;
  line-height: 1rem;
}

.btn-pre {
  background-color: var(--clr-danger);
  border-color: var(--clr-danger);
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.btn-d {
  color: var(--clr-danger);
}

.btn-p {
  background-color: var(--clr-danger);
  border-color: var(--clr-danger);
  color: var(--clr-light);
}

.btn-s {
  border-color: var(--clr-bg);
}

.btn:hover {
  opacity: 0.725;
  color: var(--clr-bg);
}

/* SCROLL BAR */
.no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* SCROLL BAR CUSTOM*/
.scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: var(--clr-white);
  border-radius: 25px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: var(--clr-bg);
  border-radius: 25px;
}

/* OTHERS */
/*  -----------------------------------  */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.gap-x {
  gap: 5px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 1rem;
}

/*  -----------------------------------  */
.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

/* --- MARGIN DESING ---*/
/* BOTTOM*/
.mb-x {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 1rem;
}

/* LEFT */
.ml-x {
  margin-left: 5px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 1rem;
}

/* TOP*/
.mt-x {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

/* RIGHT*/
.mr-x {
  margin-right: 5px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 1rem;
}

/* RESET MARGIN*/
.m-0 {
  margin: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

/* --- PADDING DESING ---*/
/* BOTTOM*/
.pb-x {
  padding-bottom: 5px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 1rem;
}

/* LEFT */
.pl-x {
  padding-left: 5px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 1rem;
}

/* TOP*/
.pt-x {
  padding-top: 5px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 4rem;
}

/* RIGHT*/
.pr-x {
  padding-right: 5px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 1rem;
}

/* RESET PADDINGS */
.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.fs-small {
  font-size: smaller;
}

/* utils */
.detail {
  /* display: inline-block; */
  /* text-transform: uppercase; */
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  /* margin-bottom: 5px; */
}

.outline {
  border: 1px solid hsla(var(--hsl-clr-bg), 0.65);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/* RESPONSIVE */
.mobile {
  display: none;
}

@media (max-width: 450px) {
  .mobile {
    display: block;
  }
}
/* COLORS */
.clr-white {
  color: var(--clr-white);
}

.clr-bg {
  color: var(--clr-bg);
}

.clr-warning {
  color: var(--clr-warning);
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-danger {
  color: var(--clr-danger);
}

.clr-success {
  color: var(--clr-success);
}

.clr-pink {
  color: var(--clr-pink);
}

.clr-text-muted {
  color: var(--clr-text-muted);
}

.clr-gradient {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-gradient {
  background: var(--gradient-bar);
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.disabled {
  pointer-events: none;
}

/*
CATCH UPS
green: rgb(22,243,117);
*/
.hr-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid;
}

.font-weight-1 {
  font-weight: 100;
}

.font-size-x {
  font-size: 0.7rem;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-small {
  font-size: small;
}

.profile-icon-x {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.header-h {
  height: 60px;
}

.section-p {
  padding: 50px 0;
}

.visiblity {
  visibility: hidden;
}

/* HELPER FUNCTIONS  */
.loader {
  width: 40px;
  height: 40px;
  border: 5px solid hsla(var(--hsl-clr-bg), 0.5);
  border-bottom-color: var(--clr-success);
  border-radius: 50%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: loaderAnim 2s linear infinite;
          animation: loaderAnim 2s linear infinite;
  display: block;
}

.inline-text {
  width: 25px;
  height: 25px;
  border: 3px solid var(--clr-light);
  border-bottom-color: var(--clr-success);
  display: inline-block;
  line-height: 1.3;
}

@-webkit-keyframes loaderAnim {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loaderAnim {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* ANIMATIONS */
.animateIcon {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: IconGrow 600ms;
          animation: IconGrow 600ms;
}

@-webkit-keyframes IconGrow {
  70% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    color: cyan;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    color: cyan;
  }
}

@keyframes IconGrow {
  70% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    color: cyan;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    color: cyan;
  }
}
.shake_anim {
  -webkit-animation: shake 300ms ease-in-out;
          animation: shake 300ms ease-in-out;
}

@-webkit-keyframes shake {
  0%, 100% {
    margin-left: 0;
  }
  20%, 80% {
    margin-left: -12px;
  }
  40%, 60% {
    margin-left: 12px;
  }
}

@keyframes shake {
  0%, 100% {
    margin-left: 0;
  }
  20%, 80% {
    margin-left: -12px;
  }
  40%, 60% {
    margin-left: 12px;
  }
}