.Toastify_me_dev {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 300;
  --toast-color: var(--clr-success);
  visibility: visible;
  -webkit-animation: offScreen 300ms ease forwards 5000ms;
          animation: offScreen 300ms ease forwards 5000ms;
}
@-webkit-keyframes offScreen {
  to {
    visibility: hidden;
  }
}
@keyframes offScreen {
  to {
    visibility: hidden;
  }
}
.Toastify_me_dev .toast_box {
  background-color: var(--clr-white);
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 8px;
  -webkit-box-shadow: var(--bs-pri);
          box-shadow: var(--bs-pri);
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  min-height: 60px;
  -webkit-animation: showToast 1000ms cubic-bezier(0.68, -0.55, 0.266, 1.35) forwards;
          animation: showToast 1000ms cubic-bezier(0.68, -0.55, 0.266, 1.35) forwards;
}
@-webkit-keyframes showToast {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes showToast {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.Toastify_me_dev .toast_box.success {
  --toast-color: var(--clr-success);
}
.Toastify_me_dev .toast_box.error {
  --toast-color: var(--clr-danger);
}
.Toastify_me_dev .toast_box.warning {
  --toast-color: orange;
}
.Toastify_me_dev .toast_box.notification {
  --toast-color: var(--clr-primary);
}
.Toastify_me_dev .toast_icon {
  color: var(--toast-color);
  margin: 0 0.8rem;
}
.Toastify_me_dev .toast_close_btn {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: var(--clr-warning);
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
}
.Toastify_me_dev .toast_close_btn:hover {
  opacity: 0.5;
}
.Toastify_me_dev .toast_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--clr-primary-a);
}
.Toastify_me_dev .toast_progress::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--toast-color);
  -webkit-animation: onProgress 5000ms linear forwards 1000ms;
          animation: onProgress 5000ms linear forwards 1000ms;
}
@-webkit-keyframes onProgress {
  to {
    width: 0%;
  }
}
@keyframes onProgress {
  to {
    width: 0%;
  }
}