.user_profile {
  position: relative;
}
.user_profile:hover .drop_menu {
  visibility: visible;
  opacity: 1;
}
.user_profile .drop_menu {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  position: absolute;
  bottom: 0;
  top: 60px;
  right: 0;
  width: 500px;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  background-color: var(--clr-white);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
}
.user_profile .link {
  padding: 8px 1rem;
  color: var(--clr-bg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1.5rem;
}
.user_profile .link:hover {
  background-color: rgba(136, 136, 136, 0.2);
}

.main_loader_container {
  background-color: var(--clr-bg-l);
  padding: 10px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.search__component {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}
.search__component .search_overflow {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 9, 18, 0.7882352941);
  -webkit-animation: onShow 200ms ease-in forwards;
          animation: onShow 200ms ease-in forwards;
  opacity: 0;
}
@-webkit-keyframes onShow {
  to {
    top: 70px;
    opacity: 1;
  }
}
@keyframes onShow {
  to {
    top: 70px;
    opacity: 1;
  }
}
.search__component .search_container {
  position: absolute;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  max-width: 750px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-animation: onSearch 500ms ease forwards 300ms;
          animation: onSearch 500ms ease forwards 300ms;
  opacity: 0;
}
@-webkit-keyframes onSearch {
  to {
    top: 60px;
    opacity: 1;
  }
}
@keyframes onSearch {
  to {
    top: 60px;
    opacity: 1;
  }
}
.search__component .search_container .search_nav {
  border: 1px solid var(--clr-white-l);
  background-color: var(--color-bg);
}
.search__component .search_container .search_nav .search_bar.flex {
  gap: 0.8rem;
  padding: 12px 0.8rem;
}
.search__component .search_container .search_nav .icon {
  color: #98a7bb;
}
.search__component .search_container .search_nav input {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  font-weight: 300;
  color: #98a7bb;
}
.search__component .search_container .search_nav input:focus, .search__component .search_container .search_nav input:hover, .search__component .search_container .search_nav input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.search__component .search_container .search_tags {
  padding: 8px 1rem;
  border-top: 1px solid var(--clr-white-l);
}
.search__component .search_container .search_tags .tags-container {
  overflow: hidden;
}
.search__component .search_container .search_tags .tags-container .container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.search__component .search_container .search_tags a {
  font-size: 0.8rem;
  font-weight: 100;
  padding: 1px 5px;
  background: var(--clr-bg-l);
  border-radius: 3px;
  margin: 0 10px;
  color: var(--clr-text-muted);
}
.search__component .search_container .btn_close_search {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--clr-white);
  padding: 5px;
  background-color: var(--clr-bg);
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-animation: btnReady 300ms ease forwards 1000ms;
          animation: btnReady 300ms ease forwards 1000ms;
  opacity: 0;
}
@-webkit-keyframes btnReady {
  to {
    opacity: 1;
  }
}
@keyframes btnReady {
  to {
    opacity: 1;
  }
}
.search__component .search_container .btn_close_search:hover {
  color: orange;
}
.search__component .search_results {
  margin-top: 1.5rem;
  background-color: var(--color-bg);
  border: 1px solid var(--clr-white-l);
}
.search__component .search_results .link {
  padding: 5px 10px;
  color: var(--clr-white-l);
  border-bottom: 1px solid var(--clr-bg-l);
}
.search__component .search_results .link:hover {
  background-color: var(--clr-bg-l);
  color: inherit;
}
.search__component .search_results .link .icon {
  color: var(--clr-text-muted);
}
.search__component .search_results .results_container {
  height: 400px;
  max-height: 60vh;
  overflow: auto;
}

.currency-component {
  position: relative;
}
.currency-component:hover .currency-container {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  visibility: visible;
}
.currency-component .currency-container {
  position: absolute;
  right: 0;
  top: 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--clr-white);
  -webkit-box-shadow: var(--bs-sec);
          box-shadow: var(--bs-sec);
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 100;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  border: 2px solid hsla(var(--hsl-clr-text-muted), 0.5);
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  visibility: hidden;
}
.currency-component .currency-container a {
  padding: 5px;
  font-size: smaller;
  color: var(--clr-bg);
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.currency-component .currency-container a.active {
  background-color: var(--clr-bg);
  color: var(--clr-white);
}
.currency-component .currency-container a:hover {
  border-color: var(--clr-bg);
  opacity: 0.6;
}
.currency-component .currency-container a .text {
  margin-right: 1.5rem;
}
.currency-component button {
  color: var(--clr-bg);
}