.dashboard-main > .container {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.side-bar {
  background-color: var(--color-bg);
  height: 100vh;
  overflow-y: auto;
}
.side-bar .side-bar-hero {
  padding: 1rem;
  padding-top: 0.25rem;
  text-align: center;
  background-color: var(--clr-dark);
  background-image: url("/static/media/bg01.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}
.side-bar .side-bar-hero .hero-icon {
  font-size: 2.2rem;
  color: #fff;
}
.side-bar .side-bar-hero small {
  color: var(--clr-light);
}
.side-bar .side-bar-links {
  padding: 0 0.5rem;
}
.side-bar .menu-title {
  margin: 2rem 0 0.5rem;
  color: var(--clr-warning);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
}
.side-bar .menu-list li {
  margin-bottom: 5px;
}
.side-bar .menu-list li a {
  color: #fff;
  width: 100%;
  padding: 7px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  border-radius: 0.9rem;
}
.side-bar .menu-list li a .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}
.side-bar .menu-list li a:hover {
  background-color: hsla(var(--hsl-clr-light), 0.2);
  color: var(--clr-light);
}
.side-bar .menu-list li a:hover .text {
  -webkit-transform: translateX(0.7rem);
          transform: translateX(0.7rem);
}
.side-bar .menu-list li a:hover .icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.side-bar .menu-list li a.active {
  background-color: var(--clr-warning);
  color: var(--clr-dark);
  font-weight: bold;
}
.side-bar .text,
.side-bar .icon {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.side-bar .notif_indicator {
  background-color: var(--clr-danger);
  color: var(--clr-light);
  padding: 0 5px;
  border-radius: 8px;
}
.side-bar .menu-list li .icon {
  margin-right: 1.15rem;
  font-size: 1rem;
  width: 1.2rem;
  display: inline-block;
}

.drop-down {
  position: relative;
}
.drop-down .drop-caret {
  display: block;
  margin-left: auto;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.drop-down .drop-down-body {
  background-color: hsla(0, 0%, 100%, 0.05);
  display: none;
  border-radius: 1rem;
}
.drop-down .drop-down-body li {
  list-style: disc;
  display: list-item;
  list-style-type: circle;
  margin-left: 3rem;
}
.drop-down .drop-down-body a {
  padding-left: 1rem !important;
  color: hsla(var(--hsl-clr-white), 0.7);
  font-size: smaller;
}
.drop-down.active .drop-caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-content {
  height: 100vh;
  overflow-y: auto;
}
.main-content .sticky_header {
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #084b8a;
  color: white;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 50px;
}
.main-content .left-caption button {
  display: none;
}
.main-content main {
  width: 100%;
  overflow-y: auto;
  padding: 2rem 1rem;
  min-height: 650px;
}
.main-content header {
  padding: 10px 1rem;
  background-color: var(--clr-white);
}

.form-container {
  margin: 50px auto;
}
.form-container .form-section {
  border-radius: 8px;
}
.form-container .form-section .head {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid hsla(var(--hsl-clr-bg), 0.3);
}
.form-container .form-section .body {
  padding: 1rem;
}
.form-container .product-title {
  border: 0 !important;
  font-size: 1.5rem;
  padding: 0;
  margin: 10px 0;
}
.form-container .form-section,
.form-container .form-wrapper {
  -webkit-box-shadow: 0.5rem 0.1rem 2rem hsla(0, 0%, 0%, 0.2);
          box-shadow: 0.5rem 0.1rem 2rem hsla(0, 0%, 0%, 0.2);
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  background-color: var(--clr-white-l);
  -webkit-animation: form-display 400ms ease forwards;
          animation: form-display 400ms ease forwards;
  margin: 1rem 0;
}
@-webkit-keyframes form-display {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes form-display {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.form-container .form-wrapper {
  border-radius: 12px;
  padding: 1rem 10px;
}
.form-container .form-errors {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  background-color: rgba(255, 87, 161, 0.1019607843);
  color: var(--clr-danger);
}
.form-container button.btn.btn-p {
  background: var(--clr-success);
  border-color: var(--clr-success);
}
.form-container label {
  margin-bottom: 8px;
  display: inline-block;
}
.form-container .input-group {
  margin-bottom: 1rem;
}
.form-container .input:focus,
.form-container .input:active,
.form-container textarea:focus,
.form-container textarea:active,
.form-container select:focus,
.form-container select:active,
.form-container input:focus,
.form-container input:active {
  border: 1px solid hsla(var(--hsl-clr-warning), 0.5);
}
.form-container .input,
.form-container textarea,
.form-container select,
.form-container input {
  border-radius: 0.35rem;
  border: 1px solid hsla(var(--hsl-clr-bg), 0.5);
}
.form-container input.disabled {
  background-color: hsla(var(--hsl-clr-bg), 0.11);
}
.form-container .profile-image .image-holder {
  position: relative;
}
.form-container .profile-image .image {
  width: 140px;
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
}
.form-container .profile-image .edit-btn {
  position: absolute;
  bottom: 1rem;
  right: -1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--clr-white);
  background-color: var(--clr-white);
  color: var(--clr-bg);
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 2px var(--clr-bg);
          box-shadow: 0 0 2px var(--clr-bg);
  -webkit-transform: var(--transition);
          transform: var(--transition);
}
.form-container .profile-image .edit-btn:hover {
  background-color: var(--clr-danger);
  border-color: var(--clr-danger);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-container .profile-image input[type=file] {
  visibility: hidden;
}

.product-upload-gallery.selected .upload-area {
  display: none !important;
}

.product-upload-gallery.selected .selected_images {
  display: grid !important;
}

.product-upload-gallery .selected_images {
  display: none !important;
}

.upload-area {
  padding: 1rem;
}
.upload-area #photos {
  display: none;
}
.upload-area .upload-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 50px 80px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: var(--clr-light);
  font-weight: bolder;
  background: linear-gradient(85deg, hsla(var(--hsl-clr-success), 0.8), hsla(var(--hsl-clr-primary), 0.8));
}
.upload-area .upload-btn:hover {
  opacity: 0.5;
}

.selected_images {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 270px;
  grid-gap: 1rem;
}
.selected_images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.selected_images .product-image {
  border-radius: 5px;
  overflow: hidden;
}
.selected_images .sub_images {
  overflow: auto;
  border: 1px solid var(--clr-text-muted);
  border-radius: 5px;
  padding: 5px;
}
.selected_images .sub_images_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.dashboard .mini-head {
  border: 2px solid #ccc;
  color: var(--clr-bg);
  padding: 1.5rem;
  border-radius: 1.3rem;
  margin-bottom: 2rem;
}
.dashboard .mini-head .info {
  max-width: 700px;
}
.dashboard .mini-head h2 {
  margin: 1rem 0;
  text-transform: capitalize;
}
.dashboard .mini-head .btn-s {
  border-color: var(--clr-dark);
  color: var(--clr-dark);
}
.dashboard .feeds-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}
.dashboard .feeds-container .feed .box {
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  background-color: var(--clr-white);
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
.dashboard .feeds-container .feed .box .count {
  color: #fff;
  z-index: 50;
  font-size: 1.5rem;
}
.dashboard .feeds-container .feed .box .overlay {
  height: 90px;
  background-color: var(--color-bg);
  width: 90px;
  position: absolute;
  top: -35px;
  right: -35px;
  border-radius: 50%;
  color: #fff;
}
.dashboard .feeds-container .feed.books-feed .box-btn {
  color: var(--clr-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.dashboard .feeds-container .feed.books-feed .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid var(--clr-success);
  border-left-color: var(--color-bg-variant);
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
}
.dashboard .feeds-container .feed.user-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}

.popup-main {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.568627451);
}
.popup-main.active {
  display: block;
}
.popup-main .close-main.nav-btn {
  position: absolute;
  top: 10px;
  left: 10vw;
  border-color: #fff;
  color: #fff;
}
.popup-main .container {
  height: 100vh;
  width: 100vw;
}
.popup-main .step {
  background-color: var(--clr-white);
  padding: 1.2rem;
  border-radius: 0.5rem;
  display: none;
}
.popup-main .step.active {
  display: block;
}
.popup-main .step label {
  font-size: 1.2rem;
}
.popup-main .step-show {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  color: var(--clr-danger);
  font-weight: bold;
}
.popup-main .templates {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 0.5rem;
  margin: 1rem 0;
}
.popup-main .templates .temp_btn {
  display: none;
}
.popup-main .templates img {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.popup-main .templates .temp_image {
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 5px solid transparent;
}
.popup-main .templates .temp_btn:checked ~ label .temp_image {
  border-color: var(--clr-danger);
}
.popup-main .templates .temp_btn:checked ~ label .temp_image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.animate-box-in {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-animation: form-display 400ms ease forwards;
          animation: form-display 400ms ease forwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

@keyframes form-display {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 720px) {
  .dashboard-main > .container {
    display: block;
  }
  .side-bar {
    position: fixed;
    left: -100%;
    top: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    min-width: 100vw;
    z-index: 50;
  }
  .side-bar.active {
    left: 0;
  }
  .left-caption button {
    display: block !important;
  }
  .left-caption h3 {
    font-size: small;
  }
  .dashboard .feeds-container {
    display: block;
  }
  .dashboard .feeds-container .feed {
    margin-bottom: 1.3rem;
  }
  .product-upload-gallery.selected .selected_images {
    display: block !important;
  }
  .form-sections {
    display: block;
  }
}