@import "index.scss";
@import "variables";

input,
textarea,
select {
  border: 1.5px solid hsla($hsl-clr-bg, 0.5);
  border-radius: 0.35em;
  padding: 0.4em 0.6em;
}
.create-resume {
  .main-header {
    background-color: $color-bg;
    padding: 0 1rem;
    height: 60px;
    --clr-bg: #fff;
    color: #fff;
  }
}

.container-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .create-form,
  .create-preview {
    height: calc(100vh - 60px);
    overflow: auto;
    padding-inline: 0.5rem;
  }
}
.create-form {
  padding: 1rem 0;
  border-right: 2px solid hsla($hsl-clr-bg, 0.5);

  .section-title {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  // .area-step:last-child {
  // }
  .area-step {
    border-bottom: 2px solid hsla($hsl-clr-bg, 0.5);
    // border-top: 2px solid hsla($hsl-clr-bg, 0.5);
    &:hover {
      .head {
        background-color: hsla($hsl-clr-primary, 0.1);
      }
    }
    &.active {
      .head {
        border-color: $clr-primary;
        color: $clr-primary;
      }
      .form-content {
        display: block;
      }
    }
    .head {
      padding: 1rem;
      border-left: 5px solid transparent;
      cursor: pointer;
      p {
        font-weight: 500;
        font-size: 1.3rem;
      }

      .area-botton {
        // color: $hsl-clr-bg;
      }
    }
    // &.active .form-content {
    //   display: block;
    // }
    .form-content {
      padding: 1rem;
      display: none;
    }
  }
}

.create-preview {
  .preview-container {
    padding-top: 2rem;
  }

  .outline.pre {
    background-color: $clr-primary;
    color: #fff;
    border-color: $clr-primary;
  }
}

// PERSONAL SECTION
.personal-1 {
  input[type="file"] {
    display: none;
  }
  .picture_holder {
    position: relative;
    display: block;
    margin-bottom: 1.2em;
    cursor: pointer;

    &:hover {
      .picture {
        border-color: $clr-bg;
      }
      .btn_camera {
        background-color: $clr-bg;
        color: $clr-white;
        border-color: $clr-bg;
      }
    }
  }
  .picture {
    transition: $transition;
    width: 150px;
    height: 150px;
    border-radius: 0.5em;
    overflow: hidden;
    border: 2px solid hsla($hsl-clr-bg, 0.4);
  }
  .btn_camera {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsla($hsl-clr-bg, 0.8);
    background-color: $clr-white;
    font-size: 0.9rem;
    color: $clr-danger;
    transition: $transition;
  }
}
// EDUCATION
.education {
  &-card {
    border: 1px solid hsla($hsl-clr-bg, 0.5);
    padding: 0.5em;
    border-radius: 0.4em;
    margin-bottom: 1em;

    &.on_edit {
      .ed_head {
        display: none;
      }
      .ed_body {
        display: block;
      }
    }
    .ed_head {
      display: block;
    }
    .ed_body {
      display: none;
    }
  }
  .col-span {
    grid-column: span 2;
  }
}

.form-content {
  label {
    font-size: smaller;
    font-weight: 600;
  }

  label ~ input {
    margin-top: 4px;
  }
  .intro-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25em;
  }
}
